/* Styles for all sizes */
body {
	max-width: 479px;
	margin: auto;
}

.errors {
	border: solid 3px red;
}

img {
	display: none;
	object-fit: cover;
	width: 300px;
	height: 300px;
	border: none;
}

.gif-flex {
	text-align: center;
}

#gif-title {
	text-align: left;
}

/* Start with Mobile device screens */
@media (max-width: 480px) {
	.title {
		display: flex;
		justify-content: center;
	}
	#main-container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}

	.weather-flex {
		padding: 1rem;
		flex-grow: 2;
		display: flex;
		justify-content: space-evenly;
	}

	.left-box {
		flex-grow: 2;
	}

	.right-box {
		flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.date-box {
		font-size: 14px;
	}

	.temp-box {
		display: flex;
		margin-top: 20px;
		height: 50%;
		justify-content: center;
		align-items: flex-start;
	}

	.temp-left {
		font-size: 72px;
		margin-right: 4px;
	}

	.gif-flex {
		padding: 1rem;
		flex-grow: 3;
	}

	.search-flex {
		padding: 1rem;
		display: flex;
		margin-bottom: 1rem;
	}

	#search-bar {
		flex-grow: 2;
		border-radius: 3px;
		min-height: 40px;
	}

	#search-btn {
		border-radius: 3px;
		min-height: 40px;
		background: white;
		font: inherit;
	}
}

/* tablets and laptop screens */
@media (min-width: 481px) {
}

/* Everything larger than laptop */
@media (min-width: 900px) {
}
